.team-card {
  position: relative;
  width: 450px;
  height: 450px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.team-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.team-card:hover .team-info {
  opacity: 1;
}

.team-card:hover .team-img {
  filter: blur(5px);
  z-index: 0;
}
